export ISAACLAB_DIR="/home/tassos/phd/research/13-point-cloud-policy/isaaclab"

# Make package importable when running via isaaclab.sh
export PYTHONPATH="$PWD:$PYTHONPATH"

# Robot USDs
export UR5E_GRIPPER_USD="$PWD/isaac_goc_mpc/ur5e/ur5e_robotiq_2f85.usd"

# Streaming defaults
export LIVESTREAM=2
export ENABLE_CAMERAS=1
export PUBLIC_IP=10.164.8.195

# Holds commands for running IsaacLab scripts
export PATH="$PWD/bin:$PATH"

export DRAKE_SOURCE="/home/tassos/phd/research/05-goc-mpc/drake"
export DRAKE_INSTALL="/home/tassos/phd/software/drake-build-py11/install"
export CMAKE_PREFIX_PATH=$DRAKE_INSTALL:$CMAKE_PREFIX_PATH
export LD_LIBRARY_PATH=$DRAKE_INSTALL/lib:$LD_LIBRARY_PATH
export CPATH=$DRAKE_INSTALL/include:$DRAKE_SOURCE/bindings:$CPATH
export PYTHONPATH=$DRAKE_INSTALL/lib/python3.11/site-packages:$PYTHONPATH

source "$ISAACLAB_DIR/env_isaaclab/bin/activate"
